@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --emerald: #10b981;
    --deep-emerald: #022c22;
    --bright-gold: #ffcc33;
    --metal-gold: #b45309;
  }
}

@layer utilities {
  .font-mono {
    font-family: 'Space Mono', monospace;
  }
  
  .no-select {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
  }
}
